Source: opticommand
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               liboptimization2-dev (>= 2.2),
               libglibmm-2.4-dev,
               libreadline-dev,
               libgcrypt11-dev,
               libtool
Standards-Version: 3.8.0
Section: libs
Homepage: http://birg.epfl.ch

Package: opticommand
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} liboptimization2 (>= 2.2)
Conflicts: liboptimization0-applications-opticommand
Replaces: liboptimization0-applications-opticommand
Description: liboptimization command application
 Command application for liboptimization
